.dashboard{
    overflow-y: auto;
    overflow-x: hidden;
}
.dashboard::-webkit-scrollbar{
    display: none;
}

.dashboard-card{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.dash-card {
    width: 100%;
  min-width: 372.25px;
  box-sizing: border-box;
}
.graph-container{
     
        display: flex;
        justify-content: space-between;
        gap: 16px;
}
.graph-container-two{
       display: flex;
        justify-content: space-between;
         gap: 16px;
}
.graph-container-three{
       display: flex;
        justify-content: space-between;
         gap: 16px;
}
.ims-advertisment-app-banner{
background: radial-gradient(circle, #F8FDFF 0%, #DAEBFD 100%) !important;
     
}
.dashboard-card-graph-scroll::-webkit-scrollbar{
    display: none;
}
.dashboard-card-graph-scroll{
    overflow-y: auto;
    overflow-x: auto;
    /* height: calc(100vh - 292px); */
}